---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../libs/newt";
import type { Article } from "../../libs/newt";
import Container from "../../components/Container.astro";
import Button from "../../components/Button.astro";
export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["title", "slug", "body"],
    },
  });
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
};

const { article } = Astro.props;
---

<Layout>
  <Container>
    <h2>{article.title}</h2>
    <article set:html={article.body} />
    <Button text="トップへ" link="/" />
  </Container>
</Layout>
