---
import Container from "../../components/Container.astro";
import PageBody from "../../components/PageBody.astro";
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
import FormWithConfirmation from "./form";
---

<Layout pageRecaptcha={true}>
  <div class="u-tac">
    <PageTitle ja="CONTACT" />
  </div>
  <PageBody>
    <Container value="xsmall">
      <FormWithConfirmation client:load />
    </Container>
  </PageBody>
</Layout>

<script>
  function recaptchaToken() {
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6LcH1nwoAAAAAGkyaXcuCwJJQpgHm00M6PwwHwwk", { action: "homepage" })
        .then(function (token) {
          document.getElementById("recaptchaToken").value = token;
        });
    });
  }
  recaptchaToken();
  document.addEventListener("astro:page-load", recaptchaToken);
</script>
<style lang="scss"></style>
