---
import Container from "../../components/Container.astro";
import PageBody from "../../components/PageBody.astro";
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
import FormWithConfirmation from "./form";
---

<Layout>
  <div class="u-tac">
    <PageTitle ja="CONTACT" />
  </div>
  <PageBody>
    <Container value="xsmall">
      <FormWithConfirmation client:load />
    </Container>
  </PageBody>
</Layout>

<style lang="scss"></style>
