---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container>
    <p>あざす</p>
    <Button text="トップへ" />
  </Container>
</Layout>

<style>
  p {
    font-size: 7rem;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
