---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import PageBody from "../../components/PageBody.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <PageBody>
    <Container>
      <p>送信が完了しました</p>
      <Button text="トップへ" />
    </Container>
  </PageBody>
</Layout>

<style>
  p {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 10rem;
  }
</style>
