---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";

import TagList from "../components/TagList.astro";
import Archive from "../components/ArchiveList.astro";
---

<Layout>
  <Container>
    <h2>ヘッドレスCMS検証</h2>

    <TagList />
    <Archive />
  </Container>
</Layout>

<style lang="scss">
  .dummy {
    max-width: 100px;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 2em;
  }
</style>
