---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import TagList from "../components/TagList.astro";
import CateList from "../components/CateList.astro";
import Blog from "../components/BlogList.astro";
import SectionTitle from "../components/SectionTitle.astro";
import NewsList from "../components/NewsList.astro";
import Button from "../components/Button.astro";
import aboutImage from "../assets/img/about.jpg";
import EventList from "../components/EventList.astro";
import PageBody from "../components/PageBody.astro";
import Hero from "../components/top/Hero.astro";
---

<Layout pageClass="pageTop">
  <PageBody>
    <Hero />
    <Container>
      <!-- <section class="u-mb80">
        <Image src={aboutImage} alt="" width={aboutImage.width} height={aboutImage.height} />
        <SectionTitle ja="私について" />
        <Button text="ABOUT" />
      </section> -->
      <section class="u-mb80">
        <SectionTitle ja="BLOG" />
        <TagList />
        <Blog limit={3} />
        <div class="buttonWrap"><Button link="blog" text="一覧を見る" /></div>
      </section>
      <section class="u-mb80">
        <SectionTitle ja="NEWS" />
        <CateList />
        <NewsList limit={3} />
        <div class="buttonWrap"><Button link="news" text="一覧を見る" /></div>
      </section>
      <section>
        <SectionTitle ja="EVENT" />
        <EventList limit={3} />
        <div class="buttonWrap"><Button link="events" text="一覧を見る" /></div>
      </section>
    </Container>
  </PageBody>
</Layout>

<style lang="scss"></style>
