---
import Container from "../../../components/Container.astro";
import Layout from "../../../layouts/Layout.astro";
import TagList from "../../../components/TagList.astro";
import { newtClient } from "../../../libs/newt";
import type { Tag } from "../../../libs/newt";
import Archive from "../../../components/archive.astro";
export const getStaticPaths = async () => {
  const { items: tags } = await newtClient.getContents<Tag>({
    appUid: "blog",
    modelUid: "tag",
    query: {
      select: ["_id", "slug", "name"],
    },
  });

  return tags.map((tag) => ({
    params: { slug: tag.slug },
    props: { tag },
  }));
};

const { tag } = Astro.props;
const tagId = tag._id;
---

<Layout>
  <Container>
    <h2>{tag.name}</h2>
    <TagList />
    <Archive tags={tagId} classNames="-col3" />
  </Container>
</Layout>

<style lang="scss">
  .dummy {
    max-width: 100px;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 2em;
  }
</style>
