---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../libs/newt";
import type { Article } from "../../libs/newt";
import Container from "../../components/Container.astro";
import Button from "../../components/Button.astro";
import { Image } from "astro:assets";
import PageBody from "../../components/PageBody.astro";
export const getStaticPaths = async () => {
  const { items: news } = await newtClient.getContents<Article>({
    appUid: "news",
    modelUid: "article",
    query: {
      select: ["_id", "title", "slug", "body"],
    },
  });
  return news.map((newsItem) => ({
    params: { slug: newsItem.slug },
    props: { newsItem },
  }));
};

const { newsItem } = Astro.props;
---

<Layout>
  <PageBody>
    <Container value="small">
      <div class="blog-single">
        <h1>{newsItem.title}</h1>
        <article set:html={newsItem.body} />
        <Button text="トップへ" link="/" />
      </div>
    </Container>
  </PageBody>
</Layout>

<style lang="scss">
  h1 {
    font-size: 3.8rem;
    margin-bottom: 60px;
  }
  .cover {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 60px;
    img {
      display: block;
      width: 100%;
    }
  }
  .blog-single {
    :global(p) {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
</style>
