---
import SectionTitle from "../../components/SectionTitle.astro";
import Newslist from "../../components/NewsList.astro";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import CateList from "../../components/CateList.astro";
---

<Layout>
  <Container>
    <section>
      <SectionTitle ja="NEWS" />
      <CateList />
      <Newslist />
    </section>
  </Container>
</Layout>
