---
export interface Props {
  text?: string;
  link?: string;
}

const { text, link } = Astro.props;
const targetLink = link || "/";
---

<a href={targetLink} class="button">{text}</a>

<style lang="scss">
  .button {
    background-color: $text-color;
    width: fit-content;
    margin-inline: auto;
    margin-top: 40px;
    display: block;
    color: white;
    padding: 1em 3em;
    border-radius: 40px;
  }
</style>
