<div class="loading">
  <div class="inner">

  </div>
</div>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const body = document.querySelector("body");
    if (body) {
      body.classList.add("is-loaded");
    }
  });

</script>

