---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import PageBody from "../../components/PageBody.astro";
import Layout from "../../layouts/Layout.astro";
import { pageInfo } from "../../libs/constants";
const pageKey = "page404";
const { pageTitle, pageNoindex } = pageInfo[pageKey];

const title = pageTitle;
const noindex = pageNoindex;
const className = "page-lower page404";
---

<Layout pageTitle={title} pageNoindex={noindex} pageClass={className}>
  <PageBody>
    <Container>
      <h2>404 Not Found</h2>
      <p>お探しのページは見つかりませんでした。<br />移動または削除された可能性があります。</p>
      <Button text="トップへ" />
    </Container>
  </PageBody>
</Layout>

<style>
  h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 10rem;
  }
  p {
    text-align: center;
    margin-bottom: 3em;
  }
</style>
