---
import Container from "../../components/Container.astro";
import EventInput from "../../components/EventInput.tsx";
import SectionTitle from "../../components/SectionTitle.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container value="xsmall">
    <div class="u-tac">
      <SectionTitle ja="EVENT FORM" />
    </div>

    <form action="https://blog-739442.form.newt.so/v1/gnyT5xvLQ" method="post">
      <ul>
        <li class="js-contactEventItem">
          <label for="input-events">Event</label>
          <input id="input-events" required name="events" hidden />
          <p id="input-eventsText" class="u-mt8"></p>
        </li>
        <li>
          <label for="name">Name</label>
          <input id="name" required name="name" />
        </li>
        <li>
          <label for="email">Email</label>
          <input id="email" required name="email" type="email" />
        </li>
        <li>
          <label for="message">Message</label>
          <textarea id="message" required name="message"></textarea>
        </li>
      </ul>
      <input type="hidden" id="recaptchaToken" name="googleReCaptchaToken" <button type="submit" />

      <button type="submit">送信する</button>
    </form>
  </Container>
</Layout>
<script
  is:inline
  src="https://www.google.com/recaptcha/api.js?render=6LcH1nwoAAAAAGkyaXcuCwJJQpgHm00M6PwwHwwk"
></script>
<script>
  import { Base64 } from "js-base64";

  document.addEventListener("DOMContentLoaded", function () {
    const params = window.location.search;
    const eventsParam = params.replace("?selectedEvents=", "");
    const eventInput = document.getElementById("input-events");
    const eventInputText = document.getElementById("input-eventsText");

    if (eventsParam) {
      const decryptedData = Base64.decode(eventsParam);
      eventInput.value = decryptedData;
      eventInputText.textContent = decryptedData;
    } else {
      const eventForm = document.querySelector(".js-contactEventItem"); // '.eventForm' に対応するクラス名に変更してください
      eventForm.remove();
    }
  });
</script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("6LcH1nwoAAAAAGkyaXcuCwJJQpgHm00M6PwwHwwk", { action: "homepage" })
      .then(function (token) {
        document.getElementById("recaptchaToken").value = token;
      });
  });
</script>
<style lang="scss">
  form {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 480px) {
    form {
      margin-top: 40px;
    }
  }
  ul {
  }
  li {
    display: flex;
    margin-bottom: 1em;
  }
  label {
    width: 100%;
    max-width: 120px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  label {
    margin-top: 8px;
    margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
    label {
      margin-top: 0;
    }
  }

  input {
    border: 1px solid #ddd;
    border-radius: 6px;

    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
    }
  }
  textarea {
    border: 1px solid #ddd;
    border-radius: 6px;

    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    background: #eaedf2;
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
    }
  }
  button {
    background-color: $text-color;
    width: fit-content;
    margin-inline: auto;
    margin-top: 40px;
    display: block;
    color: white;
    padding: 1em 3em;
    border-radius: 40px;
    font-weight: bold;
  }
  @media screen and (max-width: 480px) {
    button {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
    }
  }
</style>
