---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";

import EventListSelect from "../../components/EventListSelect.astro";
import PageTitle from "../../components/PageTitle.astro";
---

<Layout>
  <PageTitle ja="EVENT" />

  <Container>
    <div class="u-pb80">
      <EventListSelect />
    </div>
  </Container>
</Layout>
