---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/Layout.astro";

import EventListSelect from "../../components/EventListSelect.astro";
import SectionTitle from "../../components/SectionTitle.astro";
---

<Layout>
  <Container>
    <div class="u-pb80">
      <SectionTitle ja="EVENT" />
      <EventListSelect />
    </div>
  </Container>
</Layout>
